---
// src/pages/qna.astro
import Layout from "@/layouts/Layout.astro";
import Qna from "@/components/qna.astro";
import BookingToast from "@/components/BookingToast.astro";
---

<Layout title="Q&A - Mutiara Hotel">
  <div class="py-12 bg-slate-50 min-h-screen">
    <Qna />
  </div>
  <BookingToast />
</Layout>
